/* Styles go here */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    min-width: 400px;
    min-height: 500px;
}

body {
    display: flex;
    justify-content: center;
}

#title {
    font-size: 40px;
    text-align: center;
    font-weight: 500;
	font-family: 'Lobster', system-ui;
}

#subtitle {
    text-align: center;
    font-weight: 200;
    margin-bottom: 16px;
	font-family: 'Montserrat', sans-serif;
}

.container {
    width: 360px;
	margin-top: 20px;
}

#text {
    width: 100%;
    padding: 8px;
    font-size: 20px;
	margin-top: 10px;
    margin-bottom: 8px;
}

#text:focus {
	outline: none;
}

#buttons {
	width: 100%;
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
}

#search-button {
	width: 75%;
	padding: 5px 0px;
	border: 1px #ccc;
	border-radius: 5px;
	background-color: #333;
	color: #fff;
}

#clear-button {
	width: 25%;
	padding: 5px 0px;
	border: 1px #ccc;
	border-radius: 5px;
	margin-left: 5px;
	background-color: #ff4f4b;
	color: #fff;
}

#output {
	margin-top: 15px;
	height: max-content;
	display: flex;
	flex-direction: column;
	overflow: scroll;
	font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

#output div {
	padding: 5px 10px;
	font-size: 16px;
    font-family: 'Montserrat', sans-serif;
	border-bottom: 1px #ccc dotted;
}

#index-loader {
	display: flex;
    flex-direction: column;
	align-items: center;
    margin-top: 10px;
}

.loader {
	float: left;
	overflow: hidden;
	border: 4px solid #f3f3f3; /* Light grey */
	border-top: 4px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 12px;
	height: 12px;
	margin-top: 0px;
	margin-right: 10px;
	animation: spin 2s linear infinite;
  }
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}